@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
}

.top-bar {
    background-color: #f5f0ef;
    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
    width: 90px;
    margin: 10px;
    cursor: pointer;
}

.top-item {
    font-family: "Montserrat", sans-serif;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 18px;
}

.nav-links li a {
    color: black;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #ba7a6b;
}

button {
    padding: 9px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #ba7a6b
}